# name of the action
name: prerelease

# trigger on push events with `v*` in tag
# TODO: find an action that is compatible based off the tag event
# on:
#   push:
#     tags:
#       - 'v*'

# trigger on release events
on:
  release:
    types: [ created ]

# pipeline to execute
jobs:
  prerelease:
    runs-on: ubuntu-latest
    
    steps:
    - name: clone
      uses: actions/checkout@v3
      with:
        # ensures we fetch tag history for the repository
        fetch-depth: 0

    - name: install go
      uses: actions/setup-go@v3
      with:
        # use version from go.mod file
        go-version-file: 'go.mod'
        cache: true

    - name: build
      uses: skx/github-action-build@release-0.6.1
      with:
        builder: ./release.sh

    - name: upload
      uses: skx/github-action-publish-binaries@release-1.3
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          args: 'release/vela*'

    - name: publish
      uses: elgohr/Publish-Docker-Github-Action@20190331160914
      with:
        name: target/vela-cli
        cache: true
        tag_names: true
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
