# name of the action
name: validate

# trigger on pull_request or push events
on:
  pull_request:
  push:

permissions:
  contents: read

# pipeline to execute
jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: clone
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: install go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          # use version from go.mod file
          go-version-file: "go.mod"
          cache: true
          check-latest: true

      - name: validate
        run: |
          # Check that go mod tidy produces a zero diff; clean up any changes afterwards.
          go mod tidy && git diff --exit-code; code=$?; git checkout -- .; (exit $code)
          # Check that go vet ./... produces a zero diff; clean up any changes afterwards.
          go vet ./... && git diff --exit-code; code=$?; git checkout -- .; (exit $code)
          # Check that go fmt ./... produces a zero diff; clean up any changes afterwards.
          go fmt ./... && git diff --exit-code; code=$?; git checkout -- .; (exit $code)
          # Check that go fix ./... produces a zero diff; clean up any changes afterwards.
          go fix ./... && git diff --exit-code; code=$?; git checkout -- .; (exit $code)
